<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>MonkeyNews</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        <h1><span th:text="${article.title}">Title</span></h1>
        
        <p>
            <span th:text="${article.text}">article</span>
            <span th:text="${article.lede}">Lead paragraph</span>
            <img th:src="@{/{id}/content(id=${article.id})}"/>

        </p>    
        <span>Authors</span>
        <ol><li th:each="author : ${article.authors}" th:text="${author.name}">Author</li></ol>
          
    </body>
</html>
