<!--<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>MonkeyNews</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        <h1>News</h1>
        <ol>
            <li th:each="article :${news}">
                <a th:href="@{/{id}(id=${article.id})}">
                <span th:text="${article.title}">Title</span></a>
            </li>
        </ol>

        <h2>Add</h2>

        <form method="POST" th:action="@{/}" enctype="multipart/form-data">
            <input type="text" name="title" placeholder="Title"/><br></br>
            <input type="text" name="lede" placeholder="Lead paragraph"/><br></br>
            <textarea name="text"></textarea><br></br>
            <input type="file" name="file"/><br></br>
            <input type="submit" value="Send!"/>
        </form>
    </body>
</html>-->


<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>MonkeyNews</title>
        <meta charset="UTF-8" />
    </head>
    <body>
        <h1>MonkeyNews</h1>
        
        Selaa uutisia -linkki (maybe later)
<!--        <a href="/authors">Author management</a><br/>-->
        <a href="/articles">Add news</a><br/>
    </body>
</html>